DJANGO_SECRET_KEY=<your-secret-key>
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_ENGINE=postgresql
DATABASE_NAME=cinereserve
DATABASE_USERNAME=<your-db-username>
DATABASE_PASSWORD=<your-db-password>
DATABASE_HOST=db
DATABASE_PORT=5432